*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    width: 100%;
    
    
    box-sizing: border-box;
    overflow: hidden;

}
header {
    height: 130px;
    padding: 45px 200px 0px 200px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

/* header related style end */

/* nav related style start */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content {
    display: flex;
    align-items: center;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 32px;
}

nav a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.youtube {
    color: red;
    font-size: 25px;
}

.tiktok {
    color: black;
    font-size: 25px;
    margin-left: 10px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
    margin-top: 20px;
    background: linear-gradient(235deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%)"
}
.col-1 {
    width: 669px;
    margin-top: -151px;
}
.col-1 h2{
    color: #0B0223;
    font-size: 44px;
    font-family: Work Sans;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word
}
.col-1 h1 {
    color: #F948B2;
    font-size: 65px;
    font-family: Work Sans;
    font-weight: 800;
    text-transform: uppercase;
    word-wrap: break-word;
}
.col-1 p {
    line-height: 43px;
    margin-top: 3px;
    font-size: 17px;
    font-weight: 500;
    color: #534C64;
}
img.p-img {
    margin-bottom: -6px;
    margin-right: 10px;
}


.col1-button {
    color: white;
    font-size: 15px;
    font-family: Work Sans;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 21px;
    padding-bottom: 21px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border-radius: 48px;
    margin-top: 27px;
    border: 0;
}
.col1-button2{
    color: white;
    font-size: 15px;
    font-family: Work Sans;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 21px;
    padding-bottom: 21px;
    background: #4EC5F7;
    border-radius: 48px;
    margin-top: 27px;
    border: 0;
    margin-left: 25px;
}
img.img-1 {
    width: 641px;
    margin-left: 157px;
}
img.img-2 {
    margin-left: 176px;
    margin-bottom: 22px;
}

img.img-3 {
    margin-left: 426px;
    margin-top: -235px;
}
.gamer-section{
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%)
}
.game-img img {
    width: 690px;
    margin-left: 67px;
}
.game-description {
    margin-top: 32px;
    text-align: right;
    margin-right: 177px;
}
.game-description h1{
    color: #F948B2;
    font-size: 46px;
    font-family: Work Sans;
    font-weight: 700;
    word-wrap: break-word
}
.game-description p {
    color: #534C64;
    font-size: 18px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    margin-top: 14px;
}
.game-button{
    color: white;
    font-size: 15px;
    font-family: Work Sans;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 21px;
    padding-bottom: 21px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border-radius: 48px;
    margin-top: 27px;
    border: 0;

}
.game-description h6 {
    color: #534C64;
    font-size: 20px;
    font-family: Work Sans;
    font-weight: 500;
    margin-top: 31px;
}
.game-description h3{
    color: #534C64;
    font-size: 27px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: 45px;

}
.videos {
    margin-top: 89px;
}
.heading{
    color: #0B0223;
    font-size: 23px;
    font-family: Work Sans;
    font-weight: 700;
    text-align: center;
    margin-bottom: 39px;

}
.heading spam{
    color:#b8267d;
}
.heading p{
    color: #534C64;
    font-size: 18px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word
}
.collection {
    margin-right: 11px;
}
.video-collection {
 
    padding-top: 48px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.collection img {
    width: 97%;
}
img.collection-img {
    height: 281px;
}
.collection p{
    color: #534C64;
    font-size: 16px;
    font-family: Work Sans;
    font-weight: 500;
    line-height: 21px;
    word-wrap: break-word;
    margin-top: 15px;
}
.download-section {
    display: flex;
    margin-top: 124px;
}
.download-head {
    margin-top: 123px;
    text-align: right;
    margin-right: 154px;
    width: 277px;
    margin-left: 279px;
}
.download-head h1{
    color: #F948B2;
    font-size: 42px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: 60px;
    word-wrap: break-word
}
.download-head h2 {
    color: #0B0223;
    font-size: 43px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: 49px;
    word-wrap: break-word;
}
.download-head p {
    color: #534C64;
    font-size: 15px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
    margin-top: 23px;
}
img.imgsec-1 {
    width: 500px;

}


.online {
    display: flex;
    margin-top: 147px;
}
.online-section {
    width: 302px;
    margin-top: 194px;
    margin-left: 186px;
}
.online-section h1 {
    color: #0B0223;
    font-size: 35px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: 49px;
    word-wrap: break-word;
}
span {
    color: #F948B2;
}
.online-section p {
    color: #534C64;
    font-size: 13px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    margin-top: 19px;
}
.onlineimg-1 {
    width: 600px;
    margin-left: 128px;
    position: relative;
}
.onlineimg-2 {
    position: absolute;
    margin-top: 348px;
    right: 469px;
    width: 286px;
    height: 300px;
}
.careers-section {
    width: 100%;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin-top: 182px;
    display: flex;
    padding-bottom: 102px;
}
.about-career {
    margin-left: 129px;
    margin-top: 147px;
    color: white;
}
.about-career h1 {
    color: white;
    font-size: 48px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: 60px;
    word-wrap: break-word

}
.about-career p {
    color: white;
    font-size: 15px;
    font-weight: 200;
    line-height: 27px;
    word-wrap: break-word;
    margin-top: 20px;
}
.career-img{
    background-image: url(image/Vector\ 2\ \(1\).png);
}
img.car-img {
    margin-top: 174px;
    width: 508px;
    padding-left: 92px;
    padding-right: 141px;
}
.career-type{
    display: flex;
}
.para-1{
    color: white;
    font-size: 20px;
    font-family: Work Sans;
    font-weight: 600;
    line-height: 40px;
    word-wrap: break-word
}
p.para-2 {
    margin-left: 104px;
    text-align: right;
}
.various-games {
    margin-top: 122px;
    margin-left: 131px;
}
.games-type {
    display: flex;
}
.games-1 {
    display: flex;
}
.games-1 {
    display: flex;
    width: 187px;
    padding: 12px 7px;
    margin-left: 18px;
    border-radius: 58px;
}
.games-1 p {
    margin-top: 14px;
    margin-left: 12px;
}
.games-1 img {
    width: 46px;
}
.games-type2 {
    display: flex;
    margin-left: 84px;
    margin-top: 22px;
}
.games-3 {
    display: flex;
    width: 187px;
    padding: 3px 14px;
    margin-left: 18px;
    transition: 1s;
    
    
    cursor: pointer;
}
.games-3:hover{
    
    border: 1px solid #F948B2;
    border-radius: 58px;
}
.games-3 p {
    color: #F948B2;
    margin-top: 18px;
    margin-left: 10px;
}
.footer {
    width: 100%;
    background-color: #0B0223;
    color: white;
    text-align: center;
    margin-top: 54px;
}
.sec-1 {
    padding-top: 78px;
    margin-bottom: 30px;
    margin-left: 13px;
}
.sec-2 ul {
    margin-left: 246px;
    display: flex;
    margin-bottom: 37px;
}
.sec-2 ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 20px;
    padding: 20px;
}
.sec-3 {

    display: flex;
    
    margin-top: 20px
}
.sec-3 i {
    padding: 15px;
    font-size: 26px;
}
.sec-4 ul {
    display: flex;
    margin-left: 394px;
}
.sec-4 ul li {
    display: inline-block;
    margin-left: 28px;
    font-size: 17px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.60)
}
.sec-5 p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-family: Work Sans;
    font-weight: 500;
    word-wrap: break-word;
    padding: 30px;
}
.career-button {
    color: #FF42A5;
    font-size: 15px;
    font-family: Work Sans;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 17px;
    padding-bottom: 21px;
    background: white;
    border-radius: 48px;
    margin-top: 27px;
    border: 0;
}
/* respomsive */
@media screen and (max-width: 576px) {

.header {
    height: 200px;
    padding: 20px 20px 0px 20px;
}

.nav-content {
    margin-bottom: 10px;
}

nav {
    flex-direction: column;
}

nav>ul {
    flex-direction: column;
}

.nav-icon {
    margin-top: 10px;
}
.row {
    flex-direction: column;
    margin-top: 190px;
    margin-left: 442px;
}
img.img-1 {
     margin-left: -169px;
     width: 100%;
     margin-top: 50px;
}
.img-combo {
    display: flex;
    margin-left: -389px;
}
.gamer-section {
    flex-direction: column;
}
.game-img img {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.game-description {
    margin-top: 32px;
    text-align: center;
    margin-right: -92px;
}
.game-description p {
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    padding: 6px;
    
}
.heading {
    font-size: 16px;
    font-weight: 700;
    margin-left: 93px;
    padding: 21px;
}
.heading p{
    font-size: 12px;
    line-height: 41px;
    
}
.video-collection {
    flex-direction: column;
    margin-left: 116px;
    padding: 17px;
}
.collection p {
    margin: 0 auto;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 22px;
}
.download-section {
    flex-direction: column;
    margin-top: -100px;
    margin-left: -97px;
}
.download-head {
    text-align: center;
}
.download-head p {
    font-size: 15px;
}
img.imgsec-1 {
    margin-left: 172px;
}
.online {
    flex-direction: column;
}
.online-section {
    text-align: center;
    margin-top: 55px;
}
.careers-section {
    flex-direction: column;
    width: 1100px;
    padding: 32px;
}
.career-type .para-2 {
    margin-right: 162px;
}
.about-career p {
    width: 838px;
    font-size: 23px;
}
img.car-img {
    margin-left: 132px;
    margin-bottom: 124px;
    width: 899px;
}
.games-type {
    flex-direction: column;
    margin-left: 240px;
}
.games-type2 {
    flex-direction: column;
    margin-left: 247px;
}
.footer {
    width: 1062px;
}
.sec-1 {
    padding-top: 78px;
    margin-bottom: 30px;
    margin-left: -139px;
}
.sec-2 ul {
    margin-left: -149px;
    flex-direction: column;
    margin-bottom: 37px;
    line-height: 0px;
}
.sec-3 {
    flex-direction: column;
    margin-right: 122px;
}
.sec-4 ul {
    flex-direction: column;
    margin-left: -158px;
}
.sec-5 p {
    margin-right: 88px;
}
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 45px 20px 0px 20px;
    }
}