*{
    margin: 0;
    padding: 0;

}
.container{
    width: 100%;
    
    
    box-sizing: border-box;
    overflow: hidden;

}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    height: 86px;
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
}
.nav-logo {
    width: 43.041px;
    height: 28px;
    margin-left: 88px;
    cursor: pointer;
}
.nav-logo2 {
    margin-left: 13px;
    width: 100px;
}
.nav{
    flex: 1;
    text-align: right;
}
.nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
.nav ul li a{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.nav-button {
    margin-right: 74px;
    padding: 13px 10px;
    width: 181px;
    border: 0;
    border-radius: 11px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}
i.fa-brands.fa-youtube {
    margin-right: 4px;
    margin-left: 10px;
    color: red;
    cursor: pointer;
}
.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
    margin-top: 20px;
    background: linear-gradient(235deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%)"
}
.col-1 {
    width: 669px;
    margin-top: -151px;
}
.col-1 h2{
    color: #0B0223;
    font-size: 44px;
    font-family: Work Sans;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word
}
.col-1 h1 {
    color: #F948B2;
    font-size: 65px;
    font-family: Work Sans;
    font-weight: 800;
    text-transform: uppercase;
    word-wrap: break-word;
}
.col-1 p {
    line-height: 43px;
    margin-top: 3px;
    font-size: 17px;
    font-weight: 500;
    color: #534C64;
}
img.p-img {
    margin-bottom: -6px;
    margin-right: 10px;
}


.col1-button {
    color: white;
    font-size: 15px;
    font-family: Work Sans;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 21px;
    padding-bottom: 21px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border-radius: 48px;
    margin-top: 27px;
    border: 0;
}
.col1-button2{
    color: white;
    font-size: 15px;
    font-family: Work Sans;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 21px;
    padding-bottom: 21px;
    background: #4EC5F7;
    border-radius: 48px;
    margin-top: 27px;
    border: 0;
    margin-left: 25px;
}
img.img-1 {
    width: 641px;
    margin-left: 157px;
}
img.img-2 {
    margin-left: 176px;
    margin-bottom: 22px;
}

img.img-3 {
    margin-left: 50px;
    margin-bottom: 15px;
}
.gamer-section{
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%)
}
.game-img img {
    width: 690px;
    margin-left: 67px;
}
.game-description {
    margin-top: 32px;
    text-align: right;
    margin-right: 177px;
}
.game-description h1{
    color: #F948B2;
    font-size: 46px;
    font-family: Work Sans;
    font-weight: 700;
    word-wrap: break-word
}
.game-description p {
    color: #534C64;
    font-size: 18px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    margin-top: 14px;
}
.game-button{
    color: white;
    font-size: 15px;
    font-family: Work Sans;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 21px;
    padding-bottom: 21px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border-radius: 48px;
    margin-top: 27px;
    border: 0;

}
.game-description h6 {
    color: #534C64;
    font-size: 20px;
    font-family: Work Sans;
    font-weight: 500;
    margin-top: 31px;
}
.game-description h3{
    color: #534C64;
    font-size: 27px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: 45px;

}
.videos {
    margin-top: 89px;
}
.heading{
    color: #0B0223;
    font-size: 23px;
    font-family: Work Sans;
    font-weight: 700;
    text-align: center;
    margin-bottom: 39px;

}
.heading spam{
    color:#b8267d;
}
.heading p{
    color: #534C64;
    font-size: 18px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word
}
.collection {
    margin-right: 11px;
}
.video-collection {
    display: flex;
    margin-left: 143px;
    margin-right: 150px;
}
.collection img {
    width: 97%;
}
img.collection-img {
    height: 281px;
}
.collection p{
    color: #534C64;
    font-size: 16px;
    font-family: Work Sans;
    font-weight: 500;
    line-height: 21px;
    word-wrap: break-word;
    margin-top: 15px;
}
.download-section {
    display: flex;
    margin-top: 124px;
}
.download-head {
    margin-top: 123px;
    text-align: right;
    margin-right: 154px;
    width: 277px;
    margin-left: 279px;
}
.download-head h1{
    color: #F948B2;
    font-size: 42px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: 60px;
    word-wrap: break-word
}
.download-head h2 {
    color: #0B0223;
    font-size: 43px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: 49px;
    word-wrap: break-word;
}
.download-head p {
    color: #534C64;
    font-size: 15px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
    margin-top: 23px;
}
img.imgsec-1 {
    width: 500px;
    position: relative;
}

img.imgsec-2 {
    position: absolute;
    left: 644px;
    top: 2222px;
    width: 233px;
}
.online {
    display: flex;
    margin-top: 147px;
}
.online-section {
    width: 302px;
    margin-top: 194px;
    margin-left: 186px;
}
.online-section h1 {
    color: #0B0223;
    font-size: 35px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: 49px;
    word-wrap: break-word;
}
span {
    color: #F948B2;
}
.online-section p {
    color: #534C64;
    font-size: 13px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    margin-top: 19px;
}
.onlineimg-1 {
    width: 600px;
    margin-left: 128px;
    position: relative;
}
.onlineimg-2 {
    position: absolute;
    margin-top: 348px;
    right: 469px;
    width: 286px;
    height: 300px;
}
.careers-section {
    width: 100%;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin-top: 182px;
    display: flex;
    padding-bottom: 102px;
}
.about-career {
    margin-left: 129px;
    margin-top: 147px;
    color: white;
}
.about-career h1 {
    color: white;
    font-size: 48px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: 60px;
    word-wrap: break-word

}
.about-career p {
    color: white;
    font-size: 15px;
    font-weight: 200;
    line-height: 27px;
    word-wrap: break-word;
    margin-top: 20px;
}
.career-img{
    background-image: url(image/Vector\ 2\ \(1\).png);
}
img.car-img {
    margin-top: 174px;
    width: 508px;
    padding-left: 92px;
    padding-right: 141px;
}
.career-type{
    display: flex;
}
.para-1{
    color: white;
    font-size: 20px;
    font-family: Work Sans;
    font-weight: 600;
    line-height: 40px;
    word-wrap: break-word
}
p.para-2 {
    margin-left: 104px;
    text-align: right;
}
.various-games {
    margin-top: 122px;
    margin-left: 131px;
}
.games-type {
    display: flex;
}
.games-1 {
    display: flex;
}
.games-1 {
    display: flex;
    width: 187px;
    padding: 12px 7px;
    margin-left: 18px;
    border-radius: 58px;
}
.games-1 p {
    margin-top: 14px;
    margin-left: 12px;
}
.games-1 img {
    width: 46px;
}
.games-type2 {
    display: flex;
    margin-left: 84px;
    margin-top: 22px;
}
.games-3 {
    display: flex;
    width: 187px;
    padding: 3px 14px;
    margin-left: 18px;
    border-radius: 58px;
    border: 2px solid #F948B2;
}
.games-3 p {
    color: #F948B2;
    margin-top: 18px;
    margin-left: 10px;
}
.footer {
    width: 100%;
    background-color: #0B0223;
    color: white;
    text-align: center;
    margin-top: 54px;
}
.sec-1 {
    padding-top: 78px;
    margin-bottom: 30px;
    margin-left: 13px;
}
.sec-2 ul {
    margin-left: 246px;
    display: flex;
    margin-bottom: 37px;
}
.sec-2 ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 20px;
    padding: 20px;
}
.sec-3 {
    
    margin-top: 20px
}
.sec-3 i {
    padding: 15px;
    font-size: 26px;
}
.sec-4 ul {
    display: flex;
    margin-left: 394px;
}
.sec-4 ul li {
    display: inline-block;
    margin-left: 28px;
    font-size: 17px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.60)
}
.sec-5 p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-family: Work Sans;
    font-weight: 500;
    word-wrap: break-word;
    padding: 30px;
}
.career-button {
    color: #FF42A5;
    font-size: 15px;
    font-family: Work Sans;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 17px;
    padding-bottom: 21px;
    background: white;
    border-radius: 48px;
    margin-top: 27px;
    border: 0;
}
/* respomsive */

@media screen and (max-width: 576px){
    .navbar{
        flex-direction: column;
    }
    .nav{
        flex-direction: column;
    }

}