*{
    margin: 0;
    padding: 0;

}
.container{
    width: 100%;
    
    
    box-sizing: border-box;
    overflow: hidden;

}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    height: 86px;
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
}
.nav-logo {
    width: 64.041px;
    height: 28px;
    margin-left: 17px;
    cursor: pointer;
}
.nav{
    flex: 1;
    text-align: right;
}
.nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
.nav ul li a{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.nav-button {
    margin-right: 74px;
    padding: 13px 10px;
    width: 181px;
    border: 0;
    border-radius: 11px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}
i.fa-brands.fa-youtube {
    margin-right: 4px;
    margin-left: 10px;
    color: red;
    cursor: pointer;
}
.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
    margin-top: 20px;
    background: linear-gradient(235deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%)"
}
.col-1 {
    width: 669px;
    margin-top: -151px;
}
.col-1 h2{
    color: #0B0223;
    font-size: 44px;
    font-family: Work Sans;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word
}
.col-1 h1 {
    color: #F948B2;
    font-size: 65px;
    font-family: Work Sans;
    font-weight: 800;
    text-transform: uppercase;
    word-wrap: break-word;
}
.col-1 p {
    line-height: 43px;
    margin-top: 3px;
    font-size: 17px;
    font-weight: 500;
    color: #534C64;
}
img.p-img {
    margin-bottom: -6px;
    margin-right: 10px;
}


.col1-button {
    color: white;
    font-size: 15px;
    font-family: Work Sans;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 21px;
    padding-bottom: 21px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border-radius: 48px;
    margin-top: 27px;
    border: 0;
}
.col1-button2{
    color: white;
    font-size: 15px;
    font-family: Work Sans;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 21px;
    padding-bottom: 21px;
    background: #4EC5F7;
    border-radius: 48px;
    margin-top: 27px;
    border: 0;
    margin-left: 25px;
}
img.img-1 {
    width: 641px;
    margin-left: 157px;
}
img.img-2 {
    margin-left: 176px;
    margin-bottom: 22px;
}

img.img-3 {
    margin-left: 50px;
    margin-bottom: 15px;
}
.gamer-section{
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%)
}
.game-img img {
    width: 690px;
    margin-left: 67px;
}
.game-description {
    margin-top: 32px;
    text-align: right;
    margin-right: 177px;
}
.game-description h1{
    color: #F948B2;
    font-size: 46px;
    font-family: Work Sans;
    font-weight: 700;
    word-wrap: break-word
}
.game-description p {
    color: #534C64;
    font-size: 18px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    margin-top: 14px;
}
.game-button{
    color: white;
    font-size: 15px;
    font-family: Work Sans;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 21px;
    padding-bottom: 21px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border-radius: 48px;
    margin-top: 27px;
    border: 0;

}
.game-description h6 {
    color: #534C64;
    font-size: 20px;
    font-family: Work Sans;
    font-weight: 500;
    margin-top: 31px;
}
.game-description h3{
    color: #534C64;
    font-size: 27px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: 45px;

}
.videos {
    margin-top: 89px;
}
.heading{
    color: #0B0223;
    font-size: 23px;
    font-family: Work Sans;
    font-weight: 700;
    text-align: center;
    margin-bottom: 39px;

}
.heading spam{
    color:#b8267d;
}
.heading p{
    color: #534C64;
    font-size: 18px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word
}
.collection {
    margin-right: 11px;
}
.video-collection {
    display: flex;
    margin-left: 143px;
    margin-right: 150px;
}
.collection img {
    width: 97%;
}
img.collection-img {
    height: 281px;
}
.collection p{
    color: #534C64;
    font-size: 16px;
    font-family: Work Sans;
    font-weight: 500;
    line-height: 21px;
    word-wrap: break-word;
    margin-top: 15px;
}
.download-section {
    display: flex;
    margin-top: 124px;
}
.download-head {
    margin-top: 123px;
    text-align: right;
    margin-right: 154px;
    width: 277px;
    margin-left: 279px;
}
.download-head h1{
    color: #F948B2;
    font-size: 42px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: 60px;
    word-wrap: break-word
}
.download-head h2 {
    color: #0B0223;
    font-size: 43px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: 49px;
    word-wrap: break-word;
}
.download-head p {
    color: #534C64;
    font-size: 15px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
    margin-top: 23px;
}
img.imgsec-1 {
    width: 500px;
    position: relative;
}

img.imgsec-2 {
    position: absolute;
    left: 644px;
    top: 2222px;
    width: 233px;
}